build/
tmp/*
src/slax/__pycache__/
.DS_Store/
Slax.egg-info/
src/slax.egg-info/
slax/.DS_Store/
src/.DS_Store
*.pyc
perf_tests/data.csv
.DS_Store
*.png
*.csv
dist/slax-0.0.1.tar.gz
dist/slax-0.0.1-py3-none-any.whl
*.ipynb
/perf_tests
/neurobench_old
